body {
  background: #F5F7FA;
  padding-bottom: 100px;
}

.chartcontainer {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px;
}

p {
  color: #999;
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
}

footer{
  margin-top: auto;
  width:100%;
   margin-bottom: 0;
   padding-bottom: 0;
   overflow: hidden;
   
  
}
footer a{
   text-decoration: none;
}
.content{
   display: flex;
   margin-left: 270px;
  align-items: center;
  overflow: hidden;
}
.left{
   font-size: 15px;
  
   
}
.left p{
   font-weight: 700;
}

.right{
   margin-left: 80px;
   width: 15%;
   height: 75%;
   margin-bottom: 0px;
}
.right img{
   width: 75%;
   height: 75%;
}

@media screen and (max-width: 900px) {
   .content{
       margin-left: 0;
       
   }
   .right{
       width: 75%;
       margin-left:2;
   }

   .left{
       font-size: 95%;

   }

}